@page "{handler?}"
@model LojaVirtual.Pages.Product.Shared._ImageUploadModel
@*
  
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 
<a asp-page-handler="" asp-page="Shared/_ImageUpload" class="btn btn-danger m-3">asfasf</a>
 
    <form asp-page-handler="MyPartial"  asp-page="Shared/_ImageUpload" method="post">
        <button class="btn btn-danger m-2" type="submit">Test</button> 
    </form>