
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - LojaVirtual</title>
  <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="~/font-awesome/css/all.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <base href="~/" />
</head>
<body>
  <header>

    @await Html.PartialAsync("_NavBar", new _NavBarModel(), ViewData)

  </header>

  <!-- #region Carousel -->
  @*@await Html.PartialAsync("_Carousel3I", new _Carousel3IModel(), ViewData)*@
  <!-- #endregion -->
  <!-- #region SearchBar -->
  @await Html.PartialAsync("_SearchBar", new _SearchBarModel(), ViewData)
  <!-- #endregion -->
  <!-- #region SidePanel - Commented -->
  @*
    <div class="row">
        <div class="container-fluid">

            <!-- #region Page Content -->
            <div class="row m-2">

                <!-- #region SidePanel -->
                <div class="col-lg-3">
                    @await Html.PartialAsync("_SidePanel", new _SidePanelModel(), ViewData)
                </div>
                <!-- #endregion -->

            </div>


        </div>
    </div>

  *@

  <!-- #endregion -->
  <!-- #region Body -->
  <div class="container-fluid">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  <!-- #endregion -->
  <!-- #endregion -->


  <script src="~/jquery/jquery.js"></script>
  <script src="~/popper.js/umd/popper.js"></script>
  <script src="~/font-awesome/js/all.js"></script>
  <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
  <script src="_framework/blazor.server.js"></script>
  <script src="_content/BlazorInputFile/inputfile.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
