@page
@model LojaVirtual._NavBarModel
<!-- #region NavBar -->

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0">
  <div class="container">
    <a class="navbar-brand text-light" asp-area="" asp-page="/Index">LojaVirtual</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <component type="typeof(User.Components.LoginNavbar)" render-mode="ServerPrerendered" />
      <ul class="navbar-nav flex-grow-1">

        <!-- #region Categories -->
        <li class="nav-item">
          <div class="dropdown border-0">
            <button class="btn dropdown-toggle nav-link text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              @{
                using (Models.LojaVirtualContext lojaVirtualContext = new Models.LojaVirtualContext())
                {
                  foreach (var item in lojaVirtualContext.Categories)
                  {
                    @*<a asp-page="/Product/Category" asp-page-handler="Get" asp-route-catId="@item.CategoryId" class="dropdown-item">@item.Name</a>*@
                    <a class="dropdown-item" href="/Product/ProductList/@item.CategoryId">@item.Name</a>
                  }
                }
              }
            </div>
          </div>
        </li>
        <!-- #endregion -->
        @if (LoginManagement.IsLogged)
        {
          if (LoginManagement.TempUser.IsAdmin)
          {
            <li class="nav-item m-1 row">
              <a asp-page="/Management/Index" asp-page-handler="" class="nav-link text-light">
                <span class="fas fa-eye" style="font-size: 1em;">
                </span>
                Administrativo
              </a>
            </li>
          }
        }
      </ul>
    </div>
  </div>
</nav>


<!-- #endregion -->
