@page "{handler?}"
@model LojaVirtual._SearchBarModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="container-fluid h-10 my-4">
    <form class="searchbar form-inline d-flex justify-content-xl-center align-content-center h-100 " method="post">
        <input class="search_input w-75 p-1" type="text" name="" placeholder="Search...">
        <a asp-page="_SearchBar" asp-page-handler="OnPost" class="search_icon text-dark m-1"><span class="fas fa-search"></span></a>
    </form>
</div>