@page
@model LojaVirtual.Pages.Management.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Management/Shared/_Layout.cshtml";
}

  <div class="container-fluid justify-content-center align-content-center">  
    <div class="row"> 
    <h1>Administrativo</h1>
    </div>
  </div>