
@page "{handler?}/{id?}"
@model LojaVirtual.Pages.Product.CategoryModel
@{
  ViewData["Title"] = "Category";
}


@if (Model.CategoryId != null)
{
  <component type="typeof(Components.ProductList)" param-CategoryId="@Model.CategoryId" render-mode="ServerPrerendered" />
}

@*
  <div class="row">

    <div class="col">

      <!-- #region Filters -->

      <div class="container-fluid row">

      </div>

      <!-- #endregion -->
      <!-- #region ProductCard -->
      <div class="row">

        @foreach (var product in Model.Products)
        {
          @await Html.PartialAsync("Shared/_ProductCard.cshtml", new _ProductCardModel(product), null)
        }
      </div>
      <!-- #endregion -->
    </div>
  </div>

*@









