@page "{handler?}"

@model LojaVirtual.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_ManagementLayout";
}

<div class="container mb-2">
    <component type="typeof(Product.Components.ProductFormCreate)" render-mode="ServerPrerendered" />
</div>

<div>
    @* Localizar *@
    <a asp-page="Index" class="btn btn-danger">Voltar à Lista</a>
</div>



@section Scripts {
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
