@page "{handler?}"
@using Microsoft.AspNetCore.Components

@model LojaVirtual.Pages.Product.CreateModel
@{
  ViewData["Title"] = "Create";
  Layout = "~/Pages/Management/Shared/_Layout.cshtml";
}

<div class="container mb-2">
  <component type="typeof(Product.Components.ProductForm)" render-mode="ServerPrerendered" />
  @* Localizar *@
  <a asp-page="Index" class="btn btn-danger">Voltar à Lista</a>
</div>