@page
@model LojaVirtual.Pages.Product.DetailsModel
@using Product.Components;
@using Microsoft.AspNetCore.Components;

@{
  ViewData["Title"] = "Details";
    Layout = "~/Pages/Management/Shared/_Layout.cshtml";

}
<div class="p-2">
  <h1>Visualizar</h1>

  <component type="typeof(Product.Components.ProductFormCreate)" render-mode="Server" />

  <a asp-page="./Index">Back to List</a>
</div>
