@page
@model LojaVirtual.Pages.Product.EditModel

@{
    ViewData["Title"] = "Edit";
      Layout = "~/Pages/Management/Shared/_Layout.cshtml";

}

<h1>Edit</h1>

<component type="typeof(Product.Components.ProductForm)" param-Product="@Model.Product" render-mode="ServerPrerendered"/> 

<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
