
@page 
@model LojaVirtual.ProductViewModel
@{
    ViewData["Title"] = "ProductView";
}
<div class="container">

    <div class="row">

        <div class="col">

            <!-- #region Filters -->

            <div class="container-fluid row">

            </div>

            <!-- #endregion -->
            <!-- #region ProductCard -->
            <div class="row">

                @foreach (var product in Model.Products)
                {
                    @await Html.PartialAsync("Shared/_ProductCard.cshtml", new _ProductCardModel(product), null)
                }
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>





