
<div class="container">
    <div class="row">
        <InputFile OnChange="HandleFileSelected" accept="image/x-png,image/gif,image/jpeg" />
    </div>
    @* ImageView *@
    <ul class="d-flex my-2">

        @foreach (var data in imageData)
        {
            <li class="list-group-item mx-2 " style='width: 100%;height: 100%;'>
                <div class="d-flex m-1" style='width: 100px;'>
                    <img style='max-width: 100%; object-fit: contain' src="@data" />
                </div>
            </li>
        }
    </ul>
</div>



@code {
    [Parameter]
    public ICollection<Models.Image> Vallue { get; set; }

    int imageCount = 0;

    IFileListEntry file;
    List<string> imageData = new List<string>();

    Models.Image Image = new Models.Image();

    [Parameter]
    public EventCallback<ICollection<Models.Image>> VallueChanged { get; set; }

    async Task<ICollection<Models.Image>> HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (Vallue == null)
        {
            Vallue = new List<Models.Image>();
        }

        if (Image == null)
        {
            Image = new Models.Image();
        }

        using (MemoryStream ms = new MemoryStream((int)file.Size + 1))
        {

            await file.Data.CopyToAsync(ms);
            Image.Data = ms.ToArray();
        }

        Image.ImageName = file.Name;
        string byte64 = Convert.ToBase64String(Image.Data);
        imageData.Add(new string("data:image/gif;base64," + byte64));

        Vallue.Add(Image);
        Image = new Models.Image();
        imageCount++;
        return Vallue;
    }


}

