@page

@using Microsoft.EntityFrameworkCore;

@model IndexModel
@{
  ViewData["Title"] = "Home page";
}
<div class="row">
  <h1 class="m-auto"> Bem Vindo!</h1>

</div>

@{
  Models.Product p;
  Models.Category c;
  ICollection<Models.Image> i;
  using (Models.LojaVirtualContext ctxt = new Models.LojaVirtualContext())
  {
    p = await ctxt.Products.Include(p => p.Category).Include(p => p.Images).FirstOrDefaultAsync();
    c = p.Category;
    i = p.Images;



  }

  if (p != null)
  {

    <component type="typeof(Product.Components.ProductForm)" param-Product="@p"  param-ProductCategory="@c" render-mode="ServerPrerendered" />

  }
}


