@page
@model LojaVirtual.PaymentSucessModel
@{
    ViewData["Title"] = "PaymentSucess";
}
 

    <div class='container-fluid'>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 500px">
            <h1 style="color: green">Produto Adquirido com Sucesso!</h1>

        </div>
    </div>